.progress-bar-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 0;
}

.progress-bar-background {
    width: 100%;
    height: 32px;
    background-color: #c7c7c7;
    border-radius: 4px;
    margin-bottom: 5px; /* Space between bar and ETA text */
    overflow: hidden;
    position: relative;
}

.progress-bar-fill {
    height: 100%;
    border-radius: 4px;
    transition: width 0.5s ease-in-out;
}

.progress-bar-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    color: #fff;
    z-index: 1;
}

.progress-bar-eta {
    font-size: 14px;
    color: #555;
    text-align: center;
}

/* Mobile styles */
@media (max-width: 768px) {
    .progress-bar-background {
        margin-bottom: 4px; /* Adjust spacing for smaller screens */
    }

    .progress-bar-text {
        font-size: 14px;
    }

    .progress-bar-eta {
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .progress-bar-background {
        margin-bottom: 3px;
    }

    .progress-bar-text {
        font-size: 12px;
    }

    .progress-bar-eta {
        font-size: 10px;
    }
}
